<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla::head"
    </head>
    <body>
        <header th:replace="layout/plantilla::header"></header>
        <section th:replace="informacion/servicioInformacion :: serviciosResumen"/>
        <section th:replace="informacion/servicioInformacion :: orientaciónPsicología"/>
        <section th:replace="informacion/servicioInformacion :: apoyo"/>
        <section th:replace="informacion/servicioInformacion :: bibliotecaLudoteca"/>
        <section th:replace="informacion/servicioInformacion :: tutoríasGrupales"/>
        <footer th:replace="layout/plantilla::footer"></footer>
    </body>
</html>
