<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Colegio El Saber</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container">
            <div class="row">
                <div class="text-left p-1">
                    <!-- Formulario de inicio de sesión -->
                    <form method="POST" th:action="@{/login}">
                        <h1 style="margin-top:100px" >Iniciar sesión</h1>
                        <br></br>
                        <div style="float: left; width: 50%;">

                            <label for="correoElectronico" class=" mb-3">[[#{login.username}]]<span style="font-weight: lighter;"> *Institucional*</span></label>
                            <input class="form-control" type="email" name="username" id="username" placeholder="@elsaber.edu"/>

                            <label for="password" class="form-label mb-3">[[#{login.password}]]</label>
                            <input type="password" class="form-control mb-3" name="password" id="password">

                                <div style="text-align: right;">
                                    <a th:href="@{/registro/recordar}" style="text-decoration: none; color:black; font-weight: lighter;"> [[#{accion.recordar}]]</a>
                                </div>

                                <!-- Botón -->
                                <div class="mt-20">
                                    <a class="btn text-light fs-5 mb-3 mt-3 rounded-0" type="submit" role="button" style="background-color: #0CBBC7;">
                                        [[#{login.login}]]
                                    </a>
                                </div>
                                </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div style="float: left; width: 50%;">
                            <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-estudiantes_114360-8267.jpg?w=740&t=st=1713131591~exp=1713132191~hmac=da00d186f84ca223cb26abb5777fcfbf970dbe3a8822bf2f2e22cc5901b59251" alt="Imagen de estudiantes" height="500" style="display: block; margin: auto; padding: 20px; margin-right: -20px;">
                        </div>
                </div>
            </div>
            <br></br>
            <div th:if="${param.error != null}">
                <a th:href="@{/registro/recordar}">
                
            </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>

